.header-container {
	width: 100%;
	height: 80px;
	justify-content: flex-start;
}

/* ++Astro Gallery */
.astro-gallery-section {
	height: auto;
	width: 100%;
	margin-top: 10px;
	position: relative;
	justify-content: flex-start;
	display: none;
}

.backsplash-container {
	height: 450px;
	width: 55%;
	transition: all ease 1s;
}

.backsplash-container img {
	object-fit: fill;
	width: 100%;
	height: 100%;
	border: 3px solid var(--txt-shadow);
	border-radius: 8px;
	transition: all ease 1s;
}

.reel-wrapper {
	height: fit-content;
	width: 60%;
	position: absolute;
	right: 0;
	z-index: 2;
	flex-direction: column;
	row-gap: 30px;
}

.reel-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;
	filter: blur(80px);
	z-index: 3;
	background: var(--main-bg);
}

.card-reel {
	height: 260px;
	width: 100%;
	right: 0;
	justify-content: space-evenly;
	column-gap: 100px;
	overflow: hidden;
	padding-left: 20px;
}

.astro-card {
	height: 220px;
	width: 160px;
	background-color: var(--main-bg);
	flex-direction: column;
	justify-content: space-around;
	flex-shrink: 0;
	box-shadow: 1px 1px 8px 1px var(--txt-shadow);
}

.astro-sign-container {
	width: 80%;
	height: 60%;
	text-align: center;
	place-content: center;
}

.astro-sign-container > i {
	color: var(--font-color-main);
	font-size: 4rem;
}

.astro-card-name-container {
	width: 100%;
	height: 20%;
	text-align: center;
	place-content: center;
	color: var(--font-color-main);
	font-size: 1.5rem;
}

.reel-control-container {
	width: 300px;
	height: 50px;
	z-index: 2;
	bottom: 10px;
	right: 300px;
	justify-content: space-evenly;
}

.reel-control-container button {
	height: 30px;
	width: 80px;
	border: 2px outset black;
	place-content: center;
	text-align: center;
	background-color: var(--main-bg);
	cursor: pointer;
	border-radius: 8px;
}

.reel-control-container button .fa-solid {
	color: var(--box-shadow);
	font-size: 20px;
}

/* ++Astro Stage */
.astro-stage {
	width: 100%;
	height: 600px;
	outline: var(--ol);
	margin-top: 100px;
	position: relative;
}

.astro-curtain {
	width: 100%;
	height: 100%;
	background-color: var(--main-bg);
	position: absolute;
	top: 0;
	transition: height ease-in-out 0.5s;
	z-index: 2;
}

.astro-curtain.curtain-up {
	height: 100px;
	background-color: var(--main-bg);
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	transition: height ease-in-out 0.5s;
}

.curtain-header-container {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	justify-content: space-between;
	padding: 0 20px;
}

.astro-header-btn {
	width: 80px;
	height: 30px;
	background-color: var(--main-bg);
	color: var(--txt-shadow);
	box-shadow: 1px 1px 8px 1px var(--box-shadow);
	border-radius: 8px;
}
.header-icon-container {
	width: 80px;
	height: 80px;
	margin-right: 100px;
	border-radius: 50%;
}

.header-icon-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.header-icon-container i {
	font-size: 60px;
	color: var(--txt-shadow);
}

.astro-sign-select-container {
	width: 50%;
	height: 80%;
	position: absolute;
	bottom: 30px;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 15px;
	display: none;
}

.option-container {
	width: 130px;
	height: 120px;
	border: 2px outset var(--txt-shadow);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.option-container:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.icon-container {
	height: 60px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: var(--txt-shadow);
	place-content: center;
}

.name-container {
	height: 30px;
	width: 100%;
	text-align: center;
	color: var(--txt-shadow);
	font-size: 1.2rem;
	place-content: center;
}

/* ++Facts Stage */

.astro-facts-stage {
	width: 100%;
	height: 500px;
	outline: var(--olR);
	position: absolute;
	bottom: 0;
	justify-content: space-around;
}

.astro-stage-left,
.astro-stage-right {
	height: 490px;
	width: 400px;
	flex-direction: column;
	outline: var(--olB);
	justify-content: flex-start;
}

.astro-stage-left {
	justify-content: space-between;
}

.astro-stage-left > div {
	outline: var(--ol);
}

.astro-description-container {
	width: 100%;
	height: 30%;
	color: var(--txt-shadow);
	text-align: center;
	flex-direction: column;
	justify-content: flex-start;
}

.sign-date-container {
	width: 100%;
	height: 15%;
	flex-direction: column;
	justify-content: flex-start;
	color: var(--txt-shadow);
	font-size: 1rem;
	font-weight: 600;
}

.description-label-container,
.sign-date-label-container,
.birthstone-label-container {
	width: 100%;
	height: 20%;
	text-align: center;
	background: linear-gradient(90deg, var(--txt-shadow), var(--main-bg));
	outline: var(--olR);
	margin-bottom: 10px;
}

.sign-symbol-container {
	width: 100%;
	height: 10%;
	flex-direction: column;
	outline: 1px solid green;
	justify-content: space-evenly;
}

.sign-container,
.symbol-container {
	width: 95%;
	height: 40%;
	outline: var(--olR);
	justify-content: flex-start;
}

.sign-container div:nth-child(1),
.symbol-container div:nth-child(1) {
	width: 25%;
	height: 100%;
	outline: var(--ol);
	background: linear-gradient(15deg, var(--txt-shadow), var(--main-bg), var(--txt-shadow));
	color: #ffffff;
	font-size: 1rem;
	font-weight: 600;
}

.sign-container div:nth-child(2),
.symbol-container div:nth-child(2) {
	height: 100%;
	width: 60%;
	outline: 1px solid yellow;
	color: white;
	font-size: 1rem;
	font-weight: 600;
}

.sign-container div:nth-child(3),
.symbol-container div:nth-child(3) {
	height: 100%;
	width: 15%;
	outline: 1px solid orange;
	color: var(--txt-shadow);
	font-size: 1rem;
}

.birthstone-container {
	height: 30%;
	width: 90%;
	outline: 1px solid white;
	flex-direction: column;
	justify-content: space-between;
}

.month-1-container,
.month-2-container {
	width: 100%;
	height: 35%;
	outline: var(--ol);
	justify-content: flex-start;
}

.month-1-container div:nth-child(1),
.month-2-container div:nth-child(1) {
	width: 25%;
	height: 100%;
	outline: var(--ol);
	background: linear-gradient(15deg, var(--txt-shadow), var(--main-bg), var(--txt-shadow));
	color: #ffffff;
	font-size: 1rem;
	font-weight: 600;
}
.month-1-container div:nth-child(2),
.month-2-container div:nth-child(2) {
	width: 50%;
	height: 100%;
	outline: var(--ol);
	background: linear-gradient(15deg, var(--txt-shadow), var(--main-bg), var(--txt-shadow));
	color: #ffffff;
	font-size: 1rem;
	font-weight: 600;
}
.month-1-container div:nth-child(3),
.month-2-container div:nth-child(3) {
	width: 25%;
	height: 100%;
	outline: var(--ol);
}

.month-1-container div:nth-child(3) img,
.month-2-container div:nth-child(3) img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
