.header-container {
	width: 100%;
	height: 80px;
	justify-content: flex-start;
}

/* ++Astro Gallery */
.astro-gallery-section {
	height: 80vh;
	width: 100%;
	margin-top: 10px;
	position: relative;
	justify-content: flex-start;
}

.backsplash-container {
	height: 100%;
	width: 55%;
	transition: all ease 1s;
}

.backsplash-container img {
	object-fit: fill;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	/*transition: all ease 1s;*/
}

.reel-wrapper {
	height: fit-content;
	width: 60%;
	position: absolute;
	right: 0;
	z-index: 2;
	flex-direction: column;
	row-gap: 30px;
}

.reel-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;
	filter: blur(80px);
	z-index: 3;
	background: var(--main-bg);
}

.card-reel {
	height: 260px;
	width: 100%;
	right: 0;
	justify-content: space-evenly;
	column-gap: 100px;
	overflow: hidden;
	padding-left: 20px;
}

.astro-card {
	height: 220px;
	width: 160px;
	flex-direction: column;
	justify-content: space-around;
	flex-shrink: 0;
	box-shadow: 3px 3px 12px 3px var(--box-shadow);

	background: linear-gradient(
		#9879f7,
		#bbdcff,
		#fdfdfd,
		#b07ef0,
		#bc68db,
		#9879f7,
		#c3d3fa,
		#b6adc9,
		#cf76e0
	);
}

.astro-sign-container {
	width: 80%;
	height: 60%;
	text-align: center;
	place-content: center;
}

.astro-sign-container > i {
	color: var(--font-color-main);
	font-size: 4rem;
}

.astro-card-name-container {
	width: 100%;
	height: 20%;
	text-align: center;
	place-content: center;
	color: var(--font-color-main);
	font-size: 1.5rem;
}

.reel-control-container {
	width: 300px;
	height: 50px;
	z-index: 2;
	bottom: 10px;
	right: 300px;
	justify-content: space-evenly;
}

.reel-control-container button {
	height: 30px;
	width: 80px;
	border: 2px outset black;
	place-content: center;
	text-align: center;
	background-color: var(--main-bg);
	cursor: pointer;
	border-radius: 8px;
}

.reel-control-container button .fa-solid {
	color: var(--box-shadow);
	font-size: 20px;
}

/* ++Astro Stage */
.astro-stage {
	width: 80%;
	height: 90vh;
	margin-top: 100px;
	position: relative;
	background: conic-gradient(
		#9879f7,
		#bbdcff,
		#b6adc9,
		#b07ef0,
		#bc68db,
		#9879f7,
		#c3d3fa,
		#9879f7,
		#cf76e0
	);
	box-shadow: 2px 2px 8px 2px var(--box-shadow);
	align-items: flex-end;
	justify-content: space-around;
}

/* ++Facts Stage */

.astro-stage-left,
.astro-stage-right {
	height: 83%;
	width: 320px;
	flex-direction: column;
	justify-content: space-around;
	/*outline: var(--olB);*/
	position: relative;
	justify-content: space-around;
	padding-bottom: 15px;
}

.astro-stage-left {
	justify-content: space-between;
}

.sign-date-container {
	width: 320px;
	height: 5%;
	justify-content: flex-start;
	color: var(--font-color-main);
	font-size: 1.2rem;
	font-weight: 600;
	place-content: center;
	border: 2px outset var(--main-bg);
	border-radius: 2px;
	box-shadow: 1px 1px 8px 1px var(--txt-shadow);
	border-radius: 8px;
}

.astro-description-container {
	width: 320px;
	height: 35%;
	color: var(--font-color-main);
	text-align: center;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 2px;
	box-shadow: 1px 1px 8px 1px var(--box-shadow);
	place-content: center;
	font-weight: 600;
}

.astro-label {
	width: 100%;
	height: 20%;
	text-align: center;
	margin-bottom: 10px;
	place-content: center;
	color: var(--font-color-main);
	font-size: 1.2rem;
	font-weight: 600;
	background-color: var(--main-bg);
	text-shadow: 1px 1px 1px var(--txt-shadow);
}

.birthstone-label {
	margin-bottom: 0;
}

.sign-symbol-container {
	width: 320px;
	height: 15%;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 2px;
	box-shadow: 1px 1px 8px 1px var(--box-shadow);
}

.sign-container,
.symbol-container {
	width: 95%;
	height: 40%;
	justify-content: flex-start;
	border: 2px inset var(--main-bg);
}

.sign-container div:nth-child(1),
.symbol-container div:nth-child(1) {
	width: 25%;
	height: 100%;
	color: var(--font-color-main);
	font-size: 1rem;
	font-weight: 600;
	background-color: var(--main-bg);
	text-shadow: 1px 1px 1px var(--txt-shadow);
}

.sign-container div:nth-child(2),
.symbol-container div:nth-child(2) {
	height: 100%;
	width: 60%;
	color: var(--font-color-main);
	font-size: 1rem;
	font-weight: 600;
}

.sign-container div:nth-child(3),
.symbol-container div:nth-child(3) {
	height: 100%;
	width: 15%;
	color: var(--font-color-main);
	font-size: 1rem;
	border: 1px solid var(--txt-shadow);
}

.birthstone-container {
	height: 30%;
	width: 320px;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 1px 1px 8px 1px var(--box-shadow);
}

.month-1-container,
.month-2-container {
	width: 100%;
	height: 35%;
	justify-content: flex-start;
	border: 2px inset var(--main-bg);
}

.month-1-container div:nth-child(1),
.month-2-container div:nth-child(1) {
	width: 40%;
	height: 100%;
	background-color: var(--main-bg);
	color: var(--font-color-main);
	font-size: 1.2rem;
	font-weight: 600;
	text-shadow: 1px 1px 1px var(--txt-shadow);
}
.month-1-container div:nth-child(2),
.month-2-container div:nth-child(2) {
	width: 35%;
	height: 100%;
	color: var(--font-color-main);
	font-size: 1.2rem;
	font-weight: 600;
}
.month-1-container div:nth-child(3),
.month-2-container div:nth-child(3) {
	width: 25%;
	height: 100%;
}

.month-1-container div:nth-child(3) img,
.month-2-container div:nth-child(3) img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/*++ AstroStage Right */

.astro-color-container {
	width: 320px;
	height: 20%;
	box-shadow: 1px 1px 8px 1px var(--box-shadow);
	flex-direction: column;
}

.color-wrapper-container {
	height: 80%;
	width: 100%;
}

.color-name-container {
	width: 50%;
	height: 100%;
	color: var(--font-color-main);
	font-size: 1.2rem;
	font-weight: 600;
}

.color-span-container {
	width: 50%;
	height: 100%;
}

.color-span {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.astro-planet-container {
	width: 320px;
	height: 30%;
	box-shadow: 1px 1px 8px 1px var(--box-shadow);
	flex-direction: column;
}

.planet-wrapper-container {
	height: 80%;
	width: 100%;
	justify-content: space-around;
}

.planet-name-container {
	width: 40%;
	height: 50%;
	color: var(--font-color-main);
	font-size: 1.5rem;
	font-weight: 600;
}

.planet-img-container {
	height: 100%;
	width: 30%;
}

.planet-img-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.astro-traits-container {
	width: 320px;
	height: 40%;
	box-shadow: 1px 1px 8px 1px var(--box-shadow);

	flex-direction: column;
	justify-content: flex-start;
	row-gap: 10px;
}

.astro-traits-container li {
	color: var(--font-color-main);
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
}

/* ++AstroCurtain */
.astro-curtain {
	width: 100%;
	height: 100%;
	background-color: var(--main-bg);
	position: absolute;
	top: 0;
	transition: height ease-in-out 0.5s;
	z-index: 2;
}

.astro-curtain.curtain-up {
	height: 100px;
	background-color: var(--main-bg);
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	transition: height ease-in-out 0.5s;
}

.curtain-header-container {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	justify-content: space-between;
	padding: 0 20px;
}

.astro-header-btn {
	width: 80px;
	height: 30px;
	background-color: var(--main-bg);
	color: var(--font-color-main);
	text-shadow: 1px 1px 1px var(--txt-shadow);
	box-shadow: 1px 1px 8px 1px var(--box-shadow);
	border-radius: 8px;
	visibility: hidden;
	font-size: 16px;
	font-weight: 600;
}
.header-icon-container {
	width: 80px;
	height: 80px;
	margin-right: 100px;
	border-radius: 50%;
}

.header-icon-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.header-icon-container i {
	font-size: 60px;
	color: var(--font-color-main);
	visibility: none;
	text-shadow: 2px 2px 2px var(--txt-shadow);
}

.astro-sign-select-container {
	width: 320px;
	height: 80%;
	position: absolute;
	bottom: 30px;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 15px;
}

.option-container {
	width: 80px;
	height: 80px;
	border: 5px outset var(--main-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition-delay: visibility 1s;
	background: conic-gradient(
		#9879f7,
		#bbdcff,
		#fdfdfd,
		#b07ef0,
		#bc68db,
		#9879f7,
		#c3d3fa,
		#b6adc9,
		#cf76e0
	);

	border-radius: 50%;

	box-shadow: 1px 1px 8px 1px var(--box-shadow);
}

.option-container:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.icon-container {
	height: fit-content;
	width: fit-content;
	text-align: center;
	font-size: 30px;
	color: var(--font-color-main);
	place-content: center;
}

.name-container {
	height: 30px;
	width: 100%;
	text-align: center;
	color: var(--font-color-main);
	font-size: 15px;
	place-content: center;
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
