.header-container {
	width: 100%;
	height: 80px;
	justify-content: flex-start;
}

.astro-gallery-section {
	height: auto;
	width: 100%;
	margin-top: 30px;
	position: relative;
	justify-content: flex-start;
}

.backsplash-container {
	height: 550px;
	width: 800px;
}

.backsplash-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.reel-wrapper {
	height: fit-content;
	width: fit-content;
	position: absolute;
	right: 0;
	z-index: 2;
	flex-direction: column;
	row-gap: 30px;
}

.card-reel {
	height: 300px;
	width: 860px;
	right: 0;
	justify-content: space-between;
	column-gap: 20px;
	overflow: hidden;
	transition: transform 1s ease-in-out;
}

.astro-card {
	height: 260px;
	width: 200px;
	background-color: var(--main-bg);
	flex-direction: column;
	justify-content: space-around;
	flex-shrink: 0;
	box-shadow: 1px 1px 8px 1px var(--txt-shadow);
	transition: transform 0.5s ease-in-out;
}

.astro-sign-container {
	width: 80%;
	height: 60%;
	text-align: center;
	place-content: center;
}

.astro-sign-container > i {
	color: var(--font-color-main);
	font-size: 80px;
}

.astro-card-name-container {
	width: 100%;
	height: 20%;
	text-align: center;
	place-content: center;
	color: var(--font-color-main);
	font-size: 50px;
}

.reel-control-container {
	width: 300px;
	height: 50px;
	z-index: 2;
	bottom: 10px;
	right: 300px;
	justify-content: space-evenly;
}

.reel-control-container button {
	height: 30px;
	width: 80px;
	border: 2px outset black;
	place-content: center;
	text-align: center;
	background-color: var(--main-bg);
	cursor: pointer;
	border-radius: 8px;
}

.reel-control-container button .fa-solid {
	color: var(--box-shadow);
	font-size: 20px;
}
